@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #202020;
}

main {
    height: 100vh;
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #1B9DFF;
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);*/
}

#list {
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

#list a{
    text-decoration: none;
    color: #fff;
}

#list :hover {
    transition: 0.2s;
    color: #f0f0f0;
    text-decoration: underline;
}

header img {
    height: 80px;
}

#btn-contato {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    /*background: rgb(27,157,255);
    background: linear-gradient(90deg, rgba(27,157,255,1) 34%, rgb(0, 255, 208) 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
}

#btn-contato:hover {
    transition: 0.3s;
    color: #1B9DFF;
    background-color: #fff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #fff;
    background-color: #151515;
}

#info-footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 200px;
    padding: 50px 120px;
}

#logo-footer img{
    height: 80px;
    margin: 0px 40px;
}

#texto-central {
    flex-wrap: wrap;
}

#texto-central p {
    margin: 0px 0px 16px;
}

#p1{
    font-size: 15px;
}

#p2{
    font-size: 12px;
}

.footer-link {
    text-decoration: none;
}

#redes-sociais{
    margin: 0px 40px;
}

#redes-sociais p{
    font-size: 15px;
}

#social_media {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

#social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);;
}

#facebook {
    background-color: #4267b3;
}

#linkedin {
    background-color: #0073b1;
}

#whatsapp {
    background-color: #25d366;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #101010;
    padding: 20px 0px;
    font-size: 12px;
}

#copyright a {
    color: #fff;
}



#modal-politicas {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-card {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #202020;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: none;
    border-radius: 25px;
    height: 300px;
    width: 600px;
    gap: 20px;
}

/* The Close Button */
#modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

#modal-header span {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 640px;
    top: 310px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #101010;
}

#fechar-modal span:hover {
    cursor: pointer;
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#main-home {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 32px 0px;
    background-color: #ffffff;
}

#recepcao {
    display: flex;
    flex-direction: column;
    margin: 0px 186px;
    padding: 32px 56px;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
}

#recepcao p {
    padding: 16px;
    color: #4c4c4c;
}

#apre {
    display: flex;
    flex-direction: column;
    margin: 0px 186px;
    padding: 32px 56px;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
}

#apre p {
    padding: 16px;
    color: #4c4c4c;
}

#missao-visao {
    display: flex;
    flex-direction: column;
    margin: 0px 186px;
    padding: 32px 56px;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
}

#missao-visao p {
    padding: 16px;
    color: #4c4c4c;
}
